<!DOCTYPE html>
<html>
    <head>
    <style>
        html *
        {
            font-family: "Verdana", cursive, sans-serif;
        }
    </style>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>Proyecto ICONOS</title>
    </head>
    <body>
        <h3>INFORMACIÓN</h3>
        <p><%- texto %></p>
        <button onclick="window.location.reload(true)">Recargar</button>
        <a href="/">
            <button>Volver al inicio</button>
        </a>
    </body>
</html>